html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 10px;
}

.logo {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

/* Mobile */
.menu-toggle {
  display: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}
body {
  text-align: center;
}

audio {
  display: block;
  margin: 10px auto;
}

img {
  display: block;
  margin: 10px auto;
}
h2{
  color: white;
  display: fixed;
  text-align: center;
  background-color: green;

  
}
p{
  color: darkblue;
  text-align: center;
  padding:10px;
  background-color: grey;
  
  
}
h4{
  background-color: yellow;
}
body{
  background-color:darkblue;
}
.music-box {
  text-align: center;
  margin: 20px;
}
nav{
  position:fixed;
  top:2;
  background-color: green;
  align-items: center;
  z-index:1000;
}
nav a{
  font-size:18;
  color: white;
  padding:10px;
}
nav a:hover{
  color: yellow;
}
.search-box{
  position: fixed;
  display:block;
  margin:5px auto;
  padding:8px;
  width:8px;
  font-size:16px;
}
section {
  padding: 30px 15px;
}#search {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  border: none;
}
/* Main cover image */
.cover-image {
  max-width: 100%;
  height: auto;
}

/* Song/album thumbnails */
.thumbnail {
  max-width: 300px;
  height: auto;
  object-fit: cover; /* keeps aspect ratio */
}

/* Optional: Make all images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
